{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "overrides": [{
    "files": ["*.vue", "*.ts"],
    "rules": {
      "space-before-function-paren": ["error", "never"],
      "vue/multi-word-component-names": 0
    }
  }
  ]
}