{
  "extends": [
    "@antfu",
    // "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "no-console": "off"
    // "tailwindcss/migration-from-tailwind-2": "off",
    // "tailwindcss/no-custom-classname": "off"
  }
}
