@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f6edff;
}

html.dark ::selection {
  background-color: #280050;
}

@layer base {
  body {
    @apply bg-white dark:bg-primary-950 dark:text-white;
  }
}

@layer components {
  .action-btn {
    @apply inline-block rounded-full items-center justify-center bg-white/90
    shadow-lg shadow-primary-800/5 ring-1 ring-primary-900/5 backdrop-blur
    dark:bg-primary-800/90 dark:ring-white/10 dark:hover:ring-white/20;
  }
}

.swiper-pagination-bullet {
  @apply dark:bg-white;
}
.swiper-button-prev,
.swiper-button-next {
  @apply dark:sm:bg-primary-800/60 dark:sm:text-primary-50;
}

/* ProseCode background */
.prose :where(pre):not(:where([class~="not-prose"] *)) {
    @apply bg-primary-50 dark:bg-primary-900
}
