/* cabin-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('./cabin-v26-latin-regular.woff2') format('woff2'); 
}
/* cabin-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: url('./cabin-v26-latin-italic.woff2') format('woff2'); 
}
/* cabin-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: url('./cabin-v26-latin-500.woff2') format('woff2'); 
}
/* cabin-500italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  src: url('./cabin-v26-latin-500italic.woff2') format('woff2'); 
}
/* cabin-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: url('./cabin-v26-latin-600.woff2') format('woff2'); 
}
/* cabin-600italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 600;
  src: url('./cabin-v26-latin-600italic.woff2') format('woff2'); 
}
/* cabin-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('./cabin-v26-latin-700.woff2') format('woff2'); 
}
/* cabin-700italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 700;
  src: url('./cabin-v26-latin-700italic.woff2') format('woff2'); 
}

/* cabin-regular SAFARI */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'),
       url('./Cabin-Regular.ttf') format('truetype'),
}
/* cabin-medium */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin'),
       url('./Cabin-Medium.ttf') format('truetype'),
}
/* cabin-semibold */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin'),
       url('./Cabin-SemiBold.ttf') format('truetype'),
}
/* cabin-bold */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin'),
       url('./Cabin-Bold.ttf') format('truetype'),
}
/* cabin-italic-regular */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin'),
       url('./Cabin-Italic.ttf') format('truetype'),
}
/* cabin-italic-medium */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  src: local('Cabin'),
       url('./Cabin-MediumItalic.ttf') format('truetype'),
}
